.main-nav {
  display: grid;
  width: 200px;
  margin: 0 auto;
}

.main-nav-item {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  color: #292929;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 5px solid #ddd;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.main-nav-item:hover,
.main-nav-item:focus {
  background-color: #efefef;
}

.main-nav-item:active{
  transform: translate(0px,5px);
  border-bottom: 1px solid #efefef;
}
