.set-box-background {
  background-image: url("../../../dist/setBox.svg");
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-box-purple-card {
  background-color: #A78CE9;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: inset 0 0 8px 0px #292929;
}

@media only screen and (max-width: 500px) {
  .set-box-purple-card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
