.ui.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  border: 1px solid #cccccc;
  border-radius: 5%;
  height: 90%;
  width: 90%;
}

.ui.card.selected {
  box-shadow: 0 2px 3px 0 #1678c2, 0 0 0 2px #1678c2;
}

.card .content {
  align-items: center;
  display: flex;
}
